@import "mixin-variable";

.header {
    @include flex-container-row();
    gap: 30px;
    position: relative;
    padding: 20px 0;
    &__logo {
        width: 170px;
    }
    &__icon{
        position: absolute;
        left: 20px;
    }
}

.picture {
    &__image {
        width: 100%;
        object-fit: cover;
    }
}

main {
    position: relative;
    top: -100px;
}

.restaurant {
    background: #f6f6f6;
    border-radius: 50px 50px 0 0;
    padding: 30px 15px;
    @include flex-container-column();
    gap: 20px;

    .informations {
        @include flex-container-row();
        justify-content: space-between;
        font-family: 'Shrikhand', cursive;

        &__title {
            font-size: 28px;
            margin: 0;
        }
    }

    .cards {
        &__entrees {
            @include flex-container-column();
            gap: 20px;
        }
    
        &__plats {
            @include flex-container-column();
            gap: 20px;
        }
        
        &__desserts {
            @include flex-container-column();
            gap: 20px;
        }

        &__info-title{
            margin-top: 20px;
            margin-bottom: 0;
            font-weight: lighter;
        }

        &__info-line{
            height: 3px;
            width: 48px;
            background: $greenbg;
        }

        .card {
            @include card();
            position: relative;

            .content {
                @include flex-container-row();
                justify-content: space-between;
                transition: all  0.5s linear 0s;
                padding: 10px 15px;
                gap: 8px;

                &__text, .text {
                    &__title {
                        margin-top: 10px;
                        margin-bottom: 0;
                        font-size: 18px;
                    }

                    &__txt {
                        font-weight: lighter;
                        font-size: 15px;
                        margin: 0;
                    }

                }

                .price {
                    &__text {
                        font-weight: bold;
                        font-size: 15px;
                        padding-top: 15px;
                    }
                }
            }

            &__square {
                transition: all  0.5s linear 0s;
                width: 0%;
                height: 100%;
                position: absolute;
                background: $greenbg;
                right: 0%;
                bottom: 0%;
                border-radius: 0 15px 15px 0;

                .check {
                    position: absolute;
                    top: 50%;
                    right: 25%;
                    color: white;
                    opacity:0;
                }
            }
        }

        .card:hover .card__square {
            width: 10%;
            text-align: center;
        }

        .card:hover .check {
            opacity: 1;
        }

        .card:hover .card__content {
            margin-right: 10%;
        }
    }
    
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button-btn {
        @include btn();
        width: 50%;
    }
}
