@import "mixin-variable";

.header {
    @include flex-container-row();
    gap: 30px;
    position: relative;
    padding: 20px 0;
    &__logo {
        width: 170px;
    }
    &__icon{
        position: absolute;
        left: 20px;
    }

}

.picture {
    height: 200px;
    width: 100%;
    &__image {
        width: 100%;
        height: 250px;
        object-fit: cover;

        @media (min-width: 768px) {
            height: 500px;
        }
    }

    @media (min-width: 768px) {
        height: 450px;
    }
    
}

main {
    @include flex-container-column();

    @media (min-width:768px) {
        align-items: center;
    }

}

.restaurant {
    background: #f6f6f6;
    border-radius: 50px 50px 0 0;
    padding: 30px 20px;
    @include flex-container-column();
    gap: 40px;

    @media (min-width: 768px) {
        width: 75%;
    }

    .informations {
        @include flex-container-row();
        justify-content: space-between;
        font-family: 'Shrikhand', cursive;

        @media (min-width: 768px) {
            justify-content: center;
            gap: 150px;
        }

        &__title {
            font-size: 28px;
            margin: 0;
        }

        &__icon {
            position: relative;

            .heart-full, .heart-empty {
                position: absolute;
                right: -10%;
                top: -15px;
                width: 30px;
                height: 30px;
            }
    
            .heart-full {
                opacity: 0;
                transition: all 0.7s linear 0s;
                fill: url(#Gradient);
            }
    
            .heart-full:hover{
                opacity: 1;
            }
    
            .stop1 {
                stop-color: $purplebgcrircle;
                stop-opacity: 1;
            }
        
            .stop2 {
                stop-color: #FF79DA;
                stop-opacity: 1;
            }
        }
        
    }

    &__cards {
        @include flex-container-column();
        gap: 40px;

        @media (min-width:768px) {
           padding: 0;
        }

        @media (min-width: 1440px) {
            padding: 0 150px;
        }

    }

    .cards {
        &__entrees {
            @include flex-container-column();
            gap: 20px;
            overflow: hidden;

                .card:nth-child(2) {
                    animation: slide ease-in-out 3s forwards;
                }
                
                .card:nth-child(3) {
                    animation: slide ease-in-out 3s 0.2s forwards;
                }

                .card:nth-child(4) {
                    animation: slide ease-in-out 3s 0.4s forwards;
                }

                .card:nth-child(5) {
                    animation: slide ease-in-out 3s 0.6s forwards;
                }
        }
    
        &__plats {
            @include flex-container-column();
            gap: 20px;
            overflow: hidden;

            .card:nth-child(2) {
                animation: slide ease-in-out 3s 1s forwards;
            }
            
            .card:nth-child(3) {
                animation: slide ease-in-out 3s 1.2s forwards;
            }

            .card:nth-child(4) {
                animation: slide ease-in-out 3s 1.4s forwards;
            }
        }
        
        &__desserts {
            @include flex-container-column();
            gap: 20px;
            overflow: hidden;

            .card:nth-child(2) {
                animation: slide ease-in-out 3s 2s forwards;
            }
            
            .card:nth-child(3) {
                animation: slide ease-in-out 3s 2.2s forwards;
            }

            .card:nth-child(4) {
                animation: slide ease-in-out 3s 2.4s forwards;
            }
        }

        &__info-title{
            margin: 0;
            font-weight: lighter;
        }

        &__info-line{
            height: 3px;
            width: 48px;
            background: $greenbg;
        }


        .card {
            @include card();
            position: relative;
            transform: translateX(100%);

            .content {
                @include flex-container-column();
                justify-content: space-between;
                transition: all  0.5s linear 0s;
                padding: 15px 15px;

                &__text, .text {
                    transition: all  0.5s linear 0s;

                    &__title {
                        margin: 0;
                        font-size: 18px;
                    }

                    &__txt {
                        font-weight: lighter;
                        font-size: 15px;
                        margin: 0;
                        padding-top: 5px;
                    }

                }

                .price {
                    @include flex-container-row();
                    justify-content: space-between;
                    transition: all  0.5s linear 0s;
                    &__text {
                        font-weight: bold;
                        font-size: 15px;
                        padding-top: 5px;
                        margin: 0;
                    }
                }
            }

            &__square {
                transition: all  0.5s linear 0s;
                width: 0%;
                height: 100%;
                position: absolute;
                background: $greenbg;
                right: 0%;
                bottom: 0%;
                border-radius: 0 15px 15px 0;

                .check {
                    position: absolute;
                    top: 50%;
                    right: 25%;
                    color: white;
                    opacity:0;
                }
            }
        }

        .card:hover .card__square {
            width: 60px;
            text-align: center;
        }

        .card:hover .check {
            opacity: 1;
        }

        .card:hover .card__content{
            margin-right: 60px;
            white-space: nowrap;
        }

        .card:hover .card__content .price .txt{
            text-overflow: ellipsis;
            overflow: hidden;
            width: 290px;
        }

    }
    
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__button-btn {
        @include btn();
    }

    &__button-btn:active {
        background: $gradient-light;
        box-shadow: 0 4px 15px 0 rgb(0, 0, 0, 0.50);
    }
}


@keyframes slide {
    100% {transform: translateX(0%);}
}