$bgGrey : #f6f6f6;

@mixin font-title {
    font-family: 'Shrikhand', cursive;
}

@mixin font-body {
    font-family: 'Roboto', sans-serif;
}

@mixin column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 767.98px;
    @include font-body();
}

.header {
    @include column-center();

    &__loc {
        background: #eaeaea;
        width: 100%;
        text-align: center;
    }
}

.informations {
    @include column-center();
    background: $bgGrey;
}

.fonctionnement {
    @include column-center();

    &__rectangles {
        @include column-center();
    }
}

.restaurants {
    @include column-center();
    background: $bgGrey;
    padding: 50px 0;
    gap: 30px;

    &__cards {
        @include column-center();
        width: 100%;
    }
    &__card {
        width: 96%;
        height: 490px;
        border-radius: 25px;
        background: #FFFFFF;
    }

    &__txt {
        text-align: left;
    }

    &__image {
        height: 80%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 100%;
        border-radius: 20px 20px 0 0;
    }

    &__title {
        margin: 0px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }


}

.restaurant {
    &__title {
        @include font-title();
    }
}

.picture {
    

    &__restaurant {
        object-fit: cover;
        width: 100%;
    }
}
.footer {
    background: #353535;
    padding-left: 25px;

    &__logo {
        padding: 15px 0px;
        width: 25%;
        filter: invert(100%);
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 16px;
    }

    &__link {
        text-decoration: none;
        color: white;
    }
}