/* Variables */
/* Mixin */
/* General */
:root {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  position: relative;
  z-index: 3;
}

.main-container {
  width: 100%;
  font-family: "Roboto", sans-serif;
  z-index: 2;
}
@media (min-width: 768px) {
  .main-container {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .main-container {
    width: 100%;
  }
}

.footer {
  background: #353535;
  padding: 30px 0 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: end;
    gap: 50px;
    padding-top: 50px;
  }
}
.footer__image {
  width: 100px;
  filter: invert(100%);
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .footer__image {
    order: 2;
    padding-right: 100px;
  }
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
@media (min-width: 768px) {
  .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.footer a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__links-iconed {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__icon {
  color: #FFFFFF;
}

a {
  text-decoration: none;
}

/* Index */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}
.header__logo .header__image {
  width: 170px;
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  background-color: #eaeaea;
}
.header__location p {
  margin: 0;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f6f6f6;
  gap: 15px;
  padding: 40px 20px;
}
.informations__title {
  margin: 0;
}
.informations__txt {
  font-size: 18px;
  margin: 0;
}
.informations__button {
  border-radius: 50px;
  border: none;
  color: white;
  padding: 15px 0;
  width: 170px;
  font-size: 18px;
  background: linear-gradient(180deg, #FF79DA, #9356DC);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  width: 220px;
}
.informations__button:active {
  background: linear-gradient(180deg, #FF79DA 50%, #9356DC);
}

.fonctionnement {
  padding: 50px 20px;
}
@media (min-width: 1440px) {
  .fonctionnement {
    padding: 50px 180px;
  }
}
.fonctionnement__title {
  margin-top: 0;
}
.fonctionnement__pannels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
@media (min-width: 1440px) {
  .fonctionnement__pannels {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.fonctionnement__pannel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 92%;
  height: 75px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  justify-content: flex-start;
  font-weight: bold;
  position: relative;
  gap: 10px;
  padding-left: 30px;
}
.fonctionnement__icon {
  color: grey;
}
.fonctionnement__icon--purple {
  color: #9356DC;
}
.fonctionnement__pannel > .circle {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #9356DC;
  text-align: center;
  color: white;
  position: absolute;
  left: -10px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f6f6f6;
  padding: 50px 15px;
}
@media (min-width: 1440px) {
  .restaurants {
    padding: 50px 180px;
  }
}
.restaurants h2 {
  margin-top: 0;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
@media (min-width: 768px) {
  .restaurants__cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants__card-new {
  background: #99e2d0;
  color: #008756;
  width: 90px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  background: #FFFFFF;
  height: 250px;
  position: relative;
}
.restaurants__card a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
}
.restaurants__card p {
  margin: 0;
  padding-bottom: 10px;
}
.restaurants__card h3 {
  margin: 0;
  padding-top: 10px;
}
.restaurants__card .new {
  position: absolute;
  top: 10%;
  left: 70%;
  text-align: center;
  padding: 5px 0;
}
@media (min-width: 1440px) {
  .restaurants__card .new {
    left: 75%;
  }
}
@media (min-width: 768px) {
  .restaurants__card {
    width: 45%;
  }
}
.restaurants__image, .restaurants .image {
  object-fit: cover;
  width: 100%;
  height: 75%;
  border-radius: 15px 15px 0 0;
  object-position: 0 -40px;
}
@media (min-width: 1440px) {
  .restaurants__image, .restaurants .image {
    object-position: 0 -90px;
  }
}
.restaurants #image2 {
  object-position: 0 -150px;
}
@media (min-width: 1440px) {
  .restaurants #image2 {
    object-position: 0 -250px;
  }
}
.restaurants__card-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.restaurants__card-content-icon {
  position: relative;
}
.restaurants .heart-full, .restaurants .heart-empty {
  position: absolute;
  right: -10%;
  top: -15px;
  width: 30px;
  height: 30px;
}
.restaurants .heart-full {
  opacity: 0;
  transition: all 0.7s linear 0s;
  fill: url(#Gradient);
}
.restaurants .heart-full:hover {
  opacity: 1;
}
.restaurants .stop1 {
  stop-color: #9356DC;
  stop-opacity: 1;
}
.restaurants .stop2 {
  stop-color: #FF79DA;
  stop-opacity: 1;
}

.loader {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 50%;
  z-index: 1000;
  pointer-events: none;
  opacity: 1;
  animation: opacity-loader 3s both;
}

@keyframes opacity-loader {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
.dot {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: black;
}

.dot:nth-child(1) {
  animation: bounce ease-in-out 2s infinite;
}

.dot:nth-child(2) {
  animation: bounce ease-in-out 2s 0.3s infinite;
}

.dot:nth-child(3) {
  animation: bounce ease-in-out 2s 0.6s infinite;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0%);
  }
  40%, 90% {
    transform: translateY(-50%);
  }
}
.main-container {
  opacity: 0;
  animation: opacity 1.5s 3.5s forwards;
}

@keyframes opacity {
  100% {
    opacity: 1;
  }
}