/* Variables */
/* Mixin */
/* General */
body {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
}

.main-container {
  width: 100%;
  max-width: 767.98px;
  font-family: "Roboto", sans-serif;
}

.footer {
  background: #353535;
  padding: 30px 0 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__image {
  width: 100px;
  filter: invert(100%);
  padding-bottom: 20px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.footer a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__links-iconed {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__icon {
  color: #FFFFFF;
}

/* Index */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}
.header__logo .header__image {
  width: 170px;
}
.header__location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 10px 0;
  background-color: #eaeaea;
}
.header__location p {
  margin: 0;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f6f6f6;
  padding: 0 0 20px;
}
.informations p {
  font-size: 18px;
}
.informations__button {
  border-radius: 50px;
  border: none;
  color: white;
  padding: 15px 40px;
  font-size: 18px;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.fonctionnement {
  padding: 30px 15px;
}
.fonctionnement__pannels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.fonctionnement__pannel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 75px;
  border-radius: 20px;
  background: #F6F6F6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  justify-content: flex-start;
  font-weight: bold;
  position: relative;
  gap: 20px;
  padding-left: 30px;
}
.fonctionnement__icon {
  color: grey;
}
.fonctionnement__icon--purple {
  color: #9356DC;
}
.fonctionnement__pannel > .circle {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #9356DC;
  text-align: center;
  color: white;
  position: absolute;
  left: -10px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f6f6f6;
  padding: 30px 15px;
}
.restaurants__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.restaurants__card-new {
  background: #99e2d0;
  color: #008756;
  width: 90px;
  position: absolute;
  top: 20px;
  left: 600px;
  text-align: center;
  padding: 5px 0;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  background: #FFFFFF;
  height: 370px;
  position: relative;
}
.restaurants__card p {
  margin-top: 5px;
}
.restaurants__card h3 {
  margin-bottom: 0;
}
.restaurants__image {
  object-fit: cover;
  width: 100%;
  height: 75%;
  border-radius: 15px 15px 0 0;
}
.restaurants__card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.restaurants__card-content-icon {
  position: relative;
}
.restaurants .heart-full, .restaurants .heart-empty {
  position: absolute;
  right: -10%;
}
.restaurants .heart-full {
  opacity: 0;
  transition: all 0.7s linear 0s;
}
.restaurants .heart-full:hover {
  opacity: 1;
}